@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap'); 


/* --------------------------------- Skills and Attributes */


 .skill-one-container {
    background-size: cover;
    width: 100%;
    justify-content: left;
    min-height: 120px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    
 } 


.skill-one h4 {
    color: blue;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;  
    font-style: bold; 
    color: #707070;
    margin-bottom: 5px;
     
}

.skill-one p {
    color: red;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500; 
    font-style: bold;
    margin-bottom: 35px;
    letter-spacing: 1px;
    padding-bottom: 8px;
}  

.skill-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%; 
    padding-top: 5px;
    padding-bottom: 5px;
 
}  

.skill-title h2 {
    color: #69615B;
    font-family: 'Dancing Script', cursive;   
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    margin-bottom: 5px;
}


.skill-three-container {
    background-size: cover;
    width: 100%;
    min-height: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}  


.skill-three {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.skill-three h4 {
    color: blue;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;  
    font-style: bold; 
    color: #707070;
    margin-bottom: 5px;
     
}

.skill-three ul {
    color: red;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500; 
    font-style: bold;
    margin-bottom: 35px;
    letter-spacing: 1px;
    padding-bottom: 8px;   

}


/* --------------------------------- Background image */

.container-bg {
        background: url("../images/heather.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        
    }


/* --------------------------------- Background Colors */

.card {
    background-color: #857B74;
    display: flex;
    
}

.bg-color-fare {
    background-color: #A0BFB0;
}

.bg-card-one {
background-color: #D3C0B2;
}                   


/* ---------------------------------navbar */

.nav-link {
    text-align: center;
    font-family: 'Dosis', sans-serif;   
    color: #69615B;
    font-size: 28px;
    font-weight: 500;
  
}   


.profile-logo {
    background: url("../images/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat center center;
    height: 300px;
    width: 250px;
    flex-wrap: nowrap;
  
}


.name-title {  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 200px;
    width: 100%; 
    margin: 0;
    padding: 5px;
    justify-content: center;
    align-items: center;

} 


.name-title h1 {
    color: #69615B;
    font-family: 'Dancing Script', cursive;   
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    flex-wrap: nowrap;

} 


.name-title h2 {
    color: #69615B;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 32px;
    font-style: bold;
    
}


#navbar-toggler {
    color: #000;
    font-size: 22px;
    font-style: bold;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;

}  



/* --------------------------------- About Heading */

.body-about h3{
    padding-top: 25px;
    padding-bottom: 18px;
    font-family: 'Dancing Script', cursive;
    font-size: 44px;
    color: #69615B;
    font-weight: 700;
    letter-spacing: 1px;

}


/* ---------------------------------Body About */

.card-one,
.card-three {
    width: 22rem;
    height: 22rem;  
    float: center;
    border-style: solid;
    border-width: 3px;
    border-color: #24522E;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%
}

.card-two {
    width: 22rem;
    height: 22rem;  
    float: center;
    border-style: solid;
    border-width: 3px;
    border-color: #24522E;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%
}


.card-one {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 5px;
}  

.card-two {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 5px;
}  

.card-three {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 5px;
   
}  


.col {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-content: space-between;
padding-left: 5%;
}   

.card-1,
.card-3 {
    background-color: #E0E4EF;
    width: 20rem;
    height: 20rem;
    align-content: center;
    padding-top: 20px;
    padding-bottom:300px;
    padding-left: 15px;
    padding-right: 15px; 
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%
    
}

.card-2 {
    background-color: #E0E4EF;
    width: 20rem;
    height: 20rem;
    align-content: center;
    padding-top: 20px;
    padding-bottom:300px;
    padding-left: 15px;
    padding-right: 15px; 
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%
    
}

.card-one h5 {
color: #614D3C;
text-align: center;

}

.card-two h5 {
    color: #614D3C;
    text-align: center;
    
} 

.card-three h5 {
    color: #614D3C;
    text-align: center;
        
} 


.card-text {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #614D3C;
    font-weight: 500;
    padding: 5px;

}


/* --------------------------------- Skills and Attributes */

.skill-one-container {
    background-size: cover;
    width: 100%;
    justify-content: left;
    min-height: 120px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    
 } 


.skill-one h4 {
    color: #24522E;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;  
    font-style: bold; 
    color: #707070;
    margin-bottom: 5px;
     
}

.skill-one p {
    color: #A0BFB0;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500; 
    font-style: bold;
    margin-bottom: 35px;
    letter-spacing: 1px;
    padding-bottom: 8px;
}  

.skill-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%; 
    padding-top: 5px;
    padding-bottom: 5px;
 
}  

.skill-title h2 {
    color: #69615B;
    font-family: 'Dancing Script', cursive;   
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    margin-bottom: 5px;
}


.skill-three-container {
    background-size: cover;
    width: 100%;
    min-height: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}  


.skill-three {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.skill-three h4 {
    color: #24522E;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;  
    font-style: bold; 
    margin-bottom: 5px;
     
}

.skill-three ul {
    color: #A0BFB0;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500; 
    font-style: bold;
    margin-bottom: 35px;
    letter-spacing: 1px;
    padding-bottom: 8px;   

}


/* ---------------------------------Footer */ 

.main-footer { 
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 20px;
    border-style: solid;
    border-width: 24px;
    border-color: #857B74;  
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px; 
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;      

}  


.main-footer-container {
    background-size: cover;
    width: 100%;
    justify-content: center;
    min-height: 120px;
    line-height: 20px;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
 
}

 
.main-footer h4 {
    text-align: center;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;  
    font-style: bold; 
    color: #707070;
    margin-bottom: 5px;
    position: relative;
    
} 


.main-footer p {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500; 
    font-style: bold;
    color: #4D4D4D;
    margin-bottom: 35px;
    position: relative;
    letter-spacing: 2px;
    padding-bottom: 8px;
}  


.cv-pdf i {
    font-size: 24px;
    color: #857B74 ;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.cv-pdf i:hover {
    color: #A99282;
}


.social-link  i {
margin-left: 185px;
    width: 34px;
    height: 34px;
    padding: 14px 0;
    border-radius: 50%;
    font-size: 24px;
    line-height: 5px;
    text-align: center;
    color:#F4F2F0;
    background: #857B74;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-link  i:hover {
    background: #A99282;

} 



 
