@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap'); 


/* --------------------------------- Background image */

.container-bg {
        background: url("../images/heather.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        
    }


/* --------------------------------- Background Colors */

.card {
    background-color: #857B74;
    display: flex;
    
}

.bg-color-fare {
    background-color: #A0BFB0;

}

.bg-card-one {
background-color: #D3C0B2;

}                   

/* ---------------------------------navbar */


.nav-link {
    color: #69615B;
    text-align: center;
    font-family: 'Capriola', sans-serif;
    font-size: 28px;
    font-style: bold;
    margin-bottom: 5px; 
  
}   


.card {
display: flex;
flex-direction: row;
align-items: center;
padding-left: 15px;
margin-right: 10px;


}
.profile-logo {
    background: url("../images/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat center center;
    height: 320px;
    width: 550px; 

  
}

.name-title {  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 200px;
    width: 100%; 
    margin: 0;
    padding: 2px;
    justify-content: center;
    align-items: center;

} 

.name-title h1 {
    color: #69615B;
    font-family: 'Merienda', cursive;
    font-weight: 800;
    font-size: 38px;
    text-align: center;
    text-decoration: none;
   

} 

.name-title h2 {
    color: #69615B;
    font-family: 'Merienda', cursive;
    font-weight: 600;
    font-size: 32px;
       
}

#navbar-toggler {
    color: #000;
    font-size: 22px;
    font-style: bold;
    font-weight: 700;
    font-family: 'Capriola', sans-serif;

}  

/* --------------------------------- Footer */


.main-footer { 
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 20px;
    border-style: solid;
    border-width: 12px;
    border-color: #614D3C;
    padding: 30px;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;      

}  

.main-footer-container {
    background-size: cover;
    width: 100%;
    justify-content: center;
    min-height: 120px;
    line-height: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 8px;

}

.main-footer h4 {
    font-size: 20px;
    font-family: 'Capriola', sans-serif;
    color: #183E0C;
    margin-bottom: 5px;
  
} 

.main-footer p {
    font-size: 16px;
    font-family: 'Capriola', sans-serif;
    color: #183E0C;
    margin-bottom: 35px;
    letter-spacing: 2px;
    padding-bottom: 8px;

}  

.cv-pdf i {
    font-size: 20px;
    color: #614D3C;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.cv-pdf i:hover {
    color: #A99282;

}

.main-footer-col-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
 
}

.main-footer-col-2 h4 {
    font-family: 'Capriola', sans-serif;
    font-size: 20px;
    color: #183E0C;
    margin-bottom: 5px;
   
}

.main-footer-col-3 h4 {
    font-family: 'Capriola', sans-serif;
    font-size: 20px;
    color: #183E0C;
    margin-bottom: 5px;
   
}

.main-footer-col-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.social-link  i {
    width: 34px;
    height: 34px;
    padding: 14px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 5px;
    text-align: center;
    color:#F4F2F0;
    background: #614D3C;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-link  i:hover {
    background: #A99282;

} 

/* --------------------------------- About Heading */


.body-about h3{
    padding-top: 25px;
    padding-bottom: 18px;
    font-family: 'Merienda', cursive;
    font-size: 32px;
    color: #69615B;
    font-weight: 700;
    letter-spacing: 1px;

}

/* ---------------------------------Body About */


.card-one,
.card-three {
    width: 22rem;
    height: 22rem;  
    float: center;
    border-style: solid;
    border-width: 3px;
    border-color: #24522E;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%

}

.card-two {
    width: 22rem;
    height: 22rem;  
    float: center;
    border-style: solid;
    border-width: 3px;
    border-color: #24522E;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%

}

.card-one {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 5px;

}  

.card-two {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 5px;

}  

.card-three {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 5px;
   
}  

.col {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-content: space-between;
padding-left: 5%;

}   

.card-1,
.card-3 {
    background-color: #E0E4EF;
    width: 20rem;
    height: 20rem;
    align-content: center;
    padding-top: 20px;
    padding-bottom:300px;
    padding-left: 15px;
    padding-right: 15px; 
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%
    
}

.card-2 {
    background-color: #E0E4EF;
    width: 20rem;
    height: 20rem;
    align-content: center;
    padding-top: 20px;
    padding-bottom:300px;
    padding-left: 15px;
    padding-right: 15px; 
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%
    
}

.card-one h5 {
color: #614D3C;
text-align: center;
font-family: 'Merienda', cursive;
font-size: 18px;
font-weight: 700;

}

.card-two h5 {
    color: #614D3C;
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: 18px;
    font-weight: 700;
} 

.card-three h5 {
    color: #614D3C;
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: 18px;
    font-weight: 700;
} 

.card-text {
    font-family: 'Capriola', sans-serif;
    font-size: 14px;
    color: #614D3C;
    font-weight: 500;
    padding: 5px;
    margin-top: 5px;

}

/* --------------------------------- Skills and Attributes */


.border-frame {
    border-style: solid;
    border-width: 10px;
    border-color: #614D3C;
    border-radius: 15%;
    padding: 20px;
    margin: 20px;
    background-color: #E0E4EF;
    opacity: 50%;
}

.skill-title-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 5px;
 
} 

.skill-title h2 {
    color: #000;
    font-family: 'Merienda', cursive;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    
} 

 .skill-one-container {
    background-size: cover;
    min-height: 120px;
    padding-left: 15px;
    padding-bottom: 15px;
    
 } 

.skill-one h4 {
    color: #000
    font-family: 'Capriola', sans-serif;
    font-size: 26px;
    font-style: bold;
    margin-bottom: 5px;
     
}

.skill-one p {
    color: #000;
    font-size: 18px;
    font-family: 'Capriola', sans-serif;
    margin-bottom: 35px;
    letter-spacing: 1px;
    padding-bottom: 8px;

}  

.skill-two-container {
    background-size: cover;
    min-height: 120px;
    padding-top: 25px;
    padding-bottom: 5px;
    
}  

.skill-two {
    display: flex;
    flex-wrap: wrap;

}   

.skill-two h4 {
    color: #000
    font-family: 'Capriola', sans-serif;
    font-size: 26px;
    font-style: bold;
    margin-bottom: 5px;
     
}

.skill-two ul {
    color: #000;
    font-size: 18px;
    font-family: 'Capriola', sans-serif;
    margin-bottom: 5px;
    letter-spacing: 1px;
    padding-bottom: 3px;   

}


/* --------------------------------- Work History */

.history-heading {
    color: #183E0C;
    font-size: 48px;
    font-family: 'Merienda', cursive;
    font-weight: 600;
    background-size: cover;
    padding-bottom: 5px;
    padding-top: 5px;

   
}

.history-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;

}

.timeline-item-time {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    
}  

.timeline-item-com {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

}

.timeline-item-pos{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
 
}

.timeline-item-time h4,
.timeline-item-com h4,
.timeline-item-pos h4 {   
    color: #183E0C;
    font-family: 'Capriola', sans-serif;
    font-size: 24px;
    text-decoration: underline;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;

}   

.timeline-item-time p,
.timeline-item-com p,
.timeline-item-pos p {   
    color: #183E0C;
    font-family: "Capriola", sans-serif;
    font-size: 18px;
    padding-top: 10px;
    margin: 0;

}  
    
.history-items {
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 30px;
}

/* ---------------------------------Contact Form */


.contact-form-container {
    display: flex;
    flex-wrap: nowrap;
    background-size: cover;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

.form-heading h2 {
    color: #183E0C;
    font-family: 'Merienda', cursive;
    font-weight: 700;
    font-size: 32px;
    align-items: center;
    letter-spacing: 1px;

}

.contact-form-container {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    
}  

.contact-form-heading h3 {
    color: #69615B;
    font-size: 28px;
    font-family: 'Capriola', sans-serif;
    font-style: italic;
    margin-bottom: 15px;
  
}

.centre-form {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto; 
    width: 70%;  
    display: flex; 
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;

} 

.form-heading h4 {
    color: #69615B;
    font-size: 26px;
    font-family: 'Capriola', sans-serif;
    font-style: italic;
    margin-bottom: 15px;

}
.submit-form {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100%;
    width: 60%;

}

.submit-form,
.form-control {
    color: #69615B;
    font-size: 18px;
    font-family: 'Capriola', sans-serif;
    margin-bottom: 15px;

}


button[type="submit"] {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #183E0C;
    background-color: #E0E4EF;
    font-size: 16px;
    font-family: 'Capriola', sans-serif;

}

/* --------------------------------Submit-Form Media Queries */

@media(min-width: 992px) {
    .centre-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }

}
 
